doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Shop
    link(rel="stylesheet", href="/css/main.css")
  body 
    header.main-header
      nav.main-header__nav 
        ul.main-header__item-list 
          li.main-header__item 
            a.active(href="/") Shop 
          li.main-header__item
            a(href="/admin/new-product") Add Product
  main 
    if products.length > 0
      .grid 
        each product in products
          article.card.product-item 
            header.card__header 
              h1.product__title #{product.title}
              .card__image 
                - const imageUrl = product.image.url
                img(src=imageUrl, alt="A Thing")
              .card__content 
                h2.product__price $19.99
                p.product__description Vestibulum pulvinar turpis velit, sed gravida massa cursus in. Donec hendrerit, mauris quis pulvinar vehicula, leo mauris condimentum justo, ac pretium quam est ut erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur aliquet elit lorem, a scelerisque dui scelerisque et. Proin facilisis enim sed condimentum pulvinar. Duis ut nisi nec nisi volutpat malesuada. Vivamus vestibulum sem sit amet iaculis commodo. Nam ut arcu odio. Quisque bibendum ac dolor id lacinia. Aliquam ullamcorper a ante id lacinia. Sed a semper nunc. Duis consectetur ex laoreet risus suscipit, pulvinar interdum massa sodales. Quisque vulputate, nisl ac viverra porta, magna tellus eleifend odio, et porttitor nunc mauris ac nunc.
              .card__actions 
                button.btn Add to Cart
    else 
      h1 No Products